*, #root {
  height: screen;
  background-color: hsl(45, 100%, 50%);
}

.blockquote {
  border-radius: 5px;
  font-family: "Kavivanar", cursive;
}
.error {
  border-radius: 5px;
  font-family: "Syncopate", sans-serif;
}
.btn-outline-secondary {
  background-color: #fff;
}
